.footer{
    background-color: rgb(34, 32, 32);
}

a{
    text-decoration: none;
    color: rgb(108, 110, 111);
}

.text{
    color: rgb(140, 136, 136);
}

.img{
    width: 50px;
    margin-top: 30px;
    padding-left: 10px;
}